## Importing Main Packages

In [1]:
#Importing Libraries
import keras
import sklearn
from keras.models import Sequential
from keras.layers.core import Dense
from keras.layers import Conv2D, MaxPooling2D
from keras.utils.all_utils import to_categorical
import pandas as pd
import numpy as np
from keras.layers import Flatten

## Load Data

In [2]:
concrete_df = pd.read_csv("concrete_data.csv")
concrete_df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#Checking for any missing values
concrete_df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
concrete_df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split Data into predictors and target

In [5]:
concrete_df_columns = concrete_df.columns

#All columns to display except strength
predictors = concrete_df[concrete_df_columns[concrete_df_columns != 'Strength']] 
target = concrete_df['Strength']

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

###  Normalize the data by substracting the mean and dividing by the standard deviation.

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
n_cols = predictors_norm.shape[1] # number of predictors

In [10]:
# Creating sequential model

# define regression model and adding dense layers
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and split data

In [11]:
#Importing training libraries Sklearn
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [13]:
# build the model
model = regression_model()

In [14]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 2s - loss: 32901.7070 - 2s/epoch - 84ms/step
Epoch 2/50
23/23 - 0s - loss: 10826.5518 - 19ms/epoch - 824us/step
Epoch 3/50
23/23 - 0s - loss: 7388.5200 - 21ms/epoch - 910us/step
Epoch 4/50
23/23 - 0s - loss: 6819.3594 - 20ms/epoch - 867us/step
Epoch 5/50
23/23 - 0s - loss: 6247.7134 - 23ms/epoch - 997us/step
Epoch 6/50
23/23 - 0s - loss: 5720.8086 - 32ms/epoch - 1ms/step
Epoch 7/50
23/23 - 0s - loss: 5218.7231 - 39ms/epoch - 2ms/step
Epoch 8/50
23/23 - 0s - loss: 4757.7773 - 33ms/epoch - 1ms/step
Epoch 9/50
23/23 - 0s - loss: 4323.4253 - 32ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 3941.3640 - 35ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 3583.5500 - 29ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 3269.6716 - 50ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 2982.8311 - 42ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 2719.2573 - 36ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 2480.5293 - 34ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 2276.3269 - 40ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 2085.3225 - 32ms/epoch - 1ms/step
Epoch 18/50
23/23 - 0s - loss: 1913.6626 - 22ms/epoch - 954us/step
Epoch 19/50
23/23 - 0s - loss: 1764.9125 - 29ms/epoch - 1ms/step
Epoch 20/50
23/23 - 0s - loss: 1634.6093 - 29ms/epoch - 1ms/step
Epoch 21/50
23/23 - 0s - loss: 1510.1230 - 24ms/epoch - 1ms/step
Epoch 22/50
23/23 - 0s - loss: 1403.6174 - 24ms/epoch - 1ms/step
Epoch 23/50
23/23 - 0s - loss: 1307.9862 - 28ms/epoch - 1ms/step
Epoch 24/50
23/23 - 0s - loss: 1214.1514 - 21ms/epoch - 911us/step
Epoch 25/50
23/23 - 0s - loss: 1135.4894 - 30ms/epoch - 1ms/step
Epoch 26/50
23/23 - 0s - loss: 1067.3763 - 32ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 1002.4744 - 32ms/epoch - 1ms/step
Epoch 28/50
23/23 - 0s - loss: 944.8893 - 43ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 898.7199 - 64ms/epoch - 3ms/step
Epoch 30/50
23/23 - 0s - loss: 852.1537 - 34ms/epoch - 1ms/step
Epoch 31/50
23/23 - 0s - loss: 804.4880 - 38ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 767.8585 - 31ms/epoch - 1ms/step
Epoch 33/50
23/23 - 0s - loss: 737.7927 - 37ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 702.2317 - 31ms/epoch - 1ms/step
Epoch 35/50
23/23 - 0s - loss: 670.5932 - 45ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 646.2154 - 28ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 617.7190 - 37ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 596.0939 - 35ms/epoch - 2ms/step
Epoch 39/50
23/23 - 0s - loss: 575.3696 - 41ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 555.3887 - 36ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 537.7085 - 31ms/epoch - 1ms/step
Epoch 42/50
23/23 - 0s - loss: 521.7004 - 47ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 506.4482 - 34ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 488.9144 - 42ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 474.7537 - 24ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 462.1539 - 32ms/epoch - 1ms/step
Epoch 47/50
23/23 - 0s - loss: 448.3820 - 28ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 436.6208 - 31ms/epoch - 1ms/step
Epoch 49/50
23/23 - 0s - loss: 424.8421 - 37ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 415.4552 - 31ms/epoch - 1ms/step

### Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [15]:
loss_val = model.evaluate(X_test,y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 359.7167

359.7166748046875

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_square_errors = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_errors)
standard_deviation = np.std(mean_square_errors)
print(mean, standard_deviation)

359.7166770446342 0.0

### Getting the mean of the total Errors

In [18]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 112.12396240234375
MSE 2: 124.90325164794922
MSE 3: 118.08039855957031
MSE 4: 93.04716491699219
MSE 5: 68.74079132080078
MSE 6: 56.27157211303711
MSE 7: 63.63446044921875
MSE 8: 50.076934814453125
MSE 9: 53.49542999267578
MSE 10: 55.407752990722656
MSE 11: 48.69408416748047
MSE 12: 46.9368782043457
MSE 13: 55.94703674316406
MSE 14: 53.26183319091797
MSE 15: 49.31121063232422
MSE 16: 44.29671096801758
MSE 17: 48.91876220703125
MSE 18: 50.42061233520508
MSE 19: 45.3429069519043
MSE 20: 48.01500701904297
MSE 21: 45.72361755371094
MSE 22: 54.53067398071289
MSE 23: 45.65434265136719
MSE 24: 53.81230545043945
MSE 25: 50.09675598144531
MSE 26: 48.3116340637207
MSE 27: 49.88792419433594
MSE 28: 45.10919952392578
MSE 29: 52.34998321533203
MSE 30: 52.725830078125
MSE 31: 52.09676742553711
MSE 32: 45.34000015258789
MSE 33: 47.5540885925293
MSE 34: 50.01129150390625
MSE 35: 49.57476806640625
MSE 36: 52.9943733215332
MSE 37: 52.034263610839844
MSE 38: 53.05544662475586
MSE 39: 47.60785675048828
MSE 40: 44.42124938964844
MSE 41: 53.296836853027344
MSE 42: 44.76113510131836
MSE 43: 50.07521057128906
MSE 44: 52.63180160522461
MSE 45: 51.16405487060547
MSE 46: 55.122066497802734
MSE 47: 50.229591369628906
MSE 48: 49.18183517456055
MSE 49: 47.59700012207031
MSE 50: 56.14126968383789


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 100

Mean: 55.800396586121096
Standard Deviation: 17.510696162069458