## Importing Main Packages

In [1]:
#Importing Libraries
import keras
import sklearn
from keras.models import Sequential
from keras.layers.core import Dense
from keras.layers import Conv2D, MaxPooling2D
from keras.utils.all_utils import to_categorical
import pandas as pd
import numpy as np
from keras.layers import Flatten

## Load Data

In [2]:
concrete_df = pd.read_csv("concrete_data.csv")
concrete_df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#Checking for any missing values
concrete_df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
concrete_df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split Data into predictors and target

In [5]:
concrete_df_columns = concrete_df.columns

#All columns to display except strength
predictors = concrete_df[concrete_df_columns[concrete_df_columns != 'Strength']] 
target = concrete_df['Strength']

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

###  Normalize the data by substracting the mean and dividing by the standard deviation.

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
n_cols = predictors_norm.shape[1] # number of predictors

In [20]:
# Creating sequential model

# define regression model and adding dense layers
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and split data

In [21]:
#Importing training libraries Sklearn
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [23]:
# build the model
model = regression_model()

In [24]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 50379.8242 - 468ms/epoch - 20ms/step
Epoch 2/50
23/23 - 0s - loss: 4839.8789 - 22ms/epoch - 954us/step
Epoch 3/50
23/23 - 0s - loss: 1543.4233 - 28ms/epoch - 1ms/step
Epoch 4/50
23/23 - 0s - loss: 1109.4576 - 44ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 897.7505 - 44ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 773.1921 - 53ms/epoch - 2ms/step
Epoch 7/50
23/23 - 0s - loss: 661.4205 - 60ms/epoch - 3ms/step
Epoch 8/50
23/23 - 0s - loss: 570.8917 - 48ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 503.1745 - 65ms/epoch - 3ms/step
Epoch 10/50
23/23 - 0s - loss: 450.7300 - 40ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 415.8122 - 41ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 387.3098 - 42ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 371.6097 - 41ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 359.1539 - 47ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 349.6721 - 47ms/epoch - 2ms/step
Epoch 16/50
23/23 - 0s - loss: 340.6878 - 48ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 333.6293 - 51ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 327.5341 - 40ms/epoch - 2ms/step
Epoch 19/50
23/23 - 0s - loss: 322.1652 - 41ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 318.2371 - 30ms/epoch - 1ms/step
Epoch 21/50
23/23 - 0s - loss: 314.2500 - 44ms/epoch - 2ms/step
Epoch 22/50
23/23 - 0s - loss: 310.2027 - 42ms/epoch - 2ms/step
Epoch 23/50
23/23 - 0s - loss: 307.1763 - 40ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 304.7832 - 36ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 302.7400 - 36ms/epoch - 2ms/step
Epoch 26/50
23/23 - 0s - loss: 299.1950 - 33ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 297.0750 - 34ms/epoch - 1ms/step
Epoch 28/50
23/23 - 0s - loss: 295.5619 - 38ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 293.0388 - 25ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 291.9678 - 30ms/epoch - 1ms/step
Epoch 31/50
23/23 - 0s - loss: 289.7414 - 57ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 288.7068 - 39ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 287.4601 - 42ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 288.0734 - 39ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 286.0573 - 35ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 283.4262 - 31ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 283.5241 - 36ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 281.7427 - 29ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 281.3330 - 43ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 281.0237 - 38ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 279.1721 - 43ms/epoch - 2ms/step
Epoch 42/50
23/23 - 0s - loss: 278.5592 - 31ms/epoch - 1ms/step
Epoch 43/50
23/23 - 0s - loss: 277.7838 - 32ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 276.5571 - 42ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 276.1152 - 34ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 275.9420 - 39ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 275.7209 - 43ms/epoch - 2ms/step
Epoch 48/50
23/23 - 0s - loss: 274.8292 - 28ms/epoch - 1ms/step
Epoch 49/50
23/23 - 0s - loss: 274.0451 - 34ms/epoch - 1ms/step
Epoch 50/50
23/23 - 0s - loss: 273.7015 - 50ms/epoch - 2ms/step

### Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [25]:
loss_val = model.evaluate(X_test,y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 787us/step - loss: 266.5382

266.5382385253906

In [26]:
from sklearn.metrics import mean_squared_error

In [27]:
mean_square_errors = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_errors)
standard_deviation = np.std(mean_square_errors)
print(mean, standard_deviation)

266.5382392285039 0.0

### Getting the mean of the total Errors

In [28]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 189.55203247070312
MSE 2: 70.46487426757812
MSE 3: 50.7298698425293
MSE 4: 49.78983688354492
MSE 5: 42.948463439941406
MSE 6: 45.06906509399414
MSE 7: 51.47257614135742
MSE 8: 39.04622268676758
MSE 9: 37.716346740722656
MSE 10: 43.77362823486328
MSE 11: 36.64986038208008
MSE 12: 33.90960693359375
MSE 13: 42.392906188964844
MSE 14: 40.18961715698242
MSE 15: 34.437225341796875
MSE 16: 31.562437057495117
MSE 17: 35.26141357421875
MSE 18: 38.52700424194336
MSE 19: 32.51102828979492
MSE 20: 36.82072067260742
MSE 21: 35.333091735839844
MSE 22: 41.6146240234375
MSE 23: 28.810680389404297
MSE 24: 33.71122360229492
MSE 25: 38.6030387878418
MSE 26: 34.648773193359375
MSE 27: 32.58112335205078
MSE 28: 36.372989654541016
MSE 29: 40.41917037963867
MSE 30: 35.834808349609375
MSE 31: 33.349727630615234
MSE 32: 28.868741989135742
MSE 33: 27.85173988342285
MSE 34: 33.76026153564453
MSE 35: 36.875732421875
MSE 36: 34.77226638793945
MSE 37: 36.45947265625
MSE 38: 35.314762115478516
MSE 39: 39.446868896484375
MSE 40: 27.26036834716797
MSE 41: 37.1602897644043
MSE 42: 29.679710388183594
MSE 43: 43.26153564453125
MSE 44: 42.22085189819336
MSE 45: 34.68312454223633
MSE 46: 35.389766693115234
MSE 47: 33.058006286621094
MSE 48: 34.120853424072266
MSE 49: 33.2568473815918
MSE 50: 31.376384735107422


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 100

Mean: 40.578430639326804
Standard Deviation: 22.449095253410043