## Importing Main Packages

In [2]:
#Importing Libraries
import keras
import sklearn
from keras.models import Sequential
from keras.layers.core import Dense
from keras.layers import Conv2D, MaxPooling2D
from keras.utils.all_utils import to_categorical
import pandas as pd
import numpy as np
from keras.layers import Flatten

## Load Data

In [3]:
concrete_df = pd.read_csv("concrete_data.csv")
concrete_df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
#Checking for any missing values
concrete_df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split Data into predictors and target

In [6]:
concrete_df_columns = concrete_df.columns

#All columns to display except strength
predictors = concrete_df[concrete_df_columns[concrete_df_columns != 'Strength']] 
target = concrete_df['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

###  Normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [15]:
# Creating sequential model

# define regression model and adding dense layers
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and split data

In [16]:
#Importing training libraries Sklearn
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [20]:
# build the model
model = regression_model()

In [21]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 997us/step - loss: 72803.2266
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 46514.9922
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 26465.7051
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 12980.4004
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 5442.5791
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 2182.5361
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 1212.7466
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 1032.2922
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 998.5455
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 981.8781
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 964.8163
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 947.5600
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 930.9960
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 912.7674
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 895.8683
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 878.7085
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 862.5222
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 846.7236
Epoch 19/50
23/23 [==============================] - 0s 3ms/step - loss: 829.3981
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 814.2770
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 798.4682
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 783.5678
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 768.5397
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 754.5019
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 740.3588
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 728.5266
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 713.4767
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 700.6239
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 687.8563
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 676.3903
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 664.7792
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 652.1258
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 641.3192
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 630.9455
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 620.0526
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 609.7647
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 600.4625
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 591.6573
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 581.3339
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 572.3604
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 563.1155
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 555.5970
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 547.5957
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 538.1624
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 530.7644
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 523.5274
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 515.1230
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 508.6237
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 500.9375
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 494.9011

### Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [22]:
loss_val = model.evaluate(X_test,y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 665us/step - loss: 415.3473

415.3472900390625

In [23]:
from sklearn.metrics import mean_squared_error

In [24]:
mean_square_errors = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_errors)
standard_deviation = np.std(mean_square_errors)
print(mean, standard_deviation)

415.3472881956653 0.0

### Getting the mean of the total Errors

In [25]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 251.4268341064453
MSE 2: 194.73214721679688
MSE 3: 148.39332580566406
MSE 4: 135.5748291015625
MSE 5: 127.59587097167969
MSE 6: 111.62136840820312
MSE 7: 134.95416259765625
MSE 8: 97.46458435058594
MSE 9: 118.96733093261719
MSE 10: 110.11370849609375
MSE 11: 102.42406463623047
MSE 12: 102.38703918457031
MSE 13: 114.2507095336914
MSE 14: 122.47985076904297
MSE 15: 118.27632141113281
MSE 16: 111.74041748046875
MSE 17: 104.05577087402344
MSE 18: 95.56790924072266
MSE 19: 98.18120574951172
MSE 20: 114.11132049560547
MSE 21: 108.0503921508789
MSE 22: 103.13999938964844
MSE 23: 107.2019271850586
MSE 24: 102.98882293701172
MSE 25: 95.7620620727539
MSE 26: 64.67664337158203
MSE 27: 54.98093795776367
MSE 28: 54.13460922241211
MSE 29: 54.226829528808594
MSE 30: 51.34141159057617
MSE 31: 54.45228576660156
MSE 32: 42.177490234375
MSE 33: 48.40301513671875
MSE 34: 48.95245361328125
MSE 35: 47.57139587402344
MSE 36: 53.657020568847656
MSE 37: 54.19975662231445
MSE 38: 55.92848587036133
MSE 39: 47.35444641113281
MSE 40: 44.29354476928711
MSE 41: 56.797489166259766
MSE 42: 45.94777297973633
MSE 43: 51.226322174072266
MSE 44: 53.27748107910156
MSE 45: 55.60332107543945
MSE 46: 54.37729263305664
MSE 47: 51.76837158203125
MSE 48: 50.459075927734375
MSE 49: 52.07244110107422
MSE 50: 54.95275115966797


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 86.68589154669193
Standard Deviation: 42.11097818236469